@model AppAlertasEnergia.Models.Cronograma

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cronograma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="fechaDesde" class="control-label"></label>
                <input asp-for="fechaDesde" class="form-control" />
                <span asp-validation-for="fechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaHasta" class="control-label"></label>
                <input asp-for="fechaHasta" class="form-control" />
                <span asp-validation-for="fechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaInicio" class="control-label"></label>
                <input asp-for="horaInicio" class="form-control" />
                <span asp-validation-for="horaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaFin" class="control-label"></label>
                <input asp-for="horaFin" class="form-control" />
                <span asp-validation-for="horaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idSector" class="control-label"></label>
                <select asp-for="idSector" class="form-control" asp-items="ViewBag.idSector"></select>
                <span asp-validation-for="idSector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
